:root {
	--mainBlue: hsl(206, 64%, 27%);
}

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
}

body {
	height: 80vh;
	min-height: 550px;
}


a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	font-size: inherit;
	font-style: normal;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}


.content_wrapper {
	color: var(--mainBlue);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 95%;
	max-width: 500px;
	margin: 10% auto;
	padding: 45px 5%;
	box-shadow: 0 16px 64px 0 hsla(0, 0%, 0%, 0.15);
	border-radius: 25px;
}

/* Start words block */
.words_wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	line-height: 3;
	width: 100%;
	padding: 2%;
	margin-bottom: 70px;
}

.line_wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

}

.word {
	font-size: 1.25rem;
}

.word_hint {
	font-variant: normal;
	font-size: 0.875rem;
}

.hidden_word {
	/*color: hsl(0, 0%, 100%);*/
	background-color: yellow;
	color: transparent;
	border-radius: 6px;
	/*padding: 1px 7px;*/
}

.pageSwitcher {
	cursor: pointer;
	padding: 1em;
	margin: -1em;
}

/* End words block */
/* Start search pane block */
.searchPane {
	display: flex;
	width: 100%;
	height: 30px;
	justify-content: space-between;
	align-items: center;
	padding: 0 8px;
}

.searchBar {
	all: unset;
	display: flex;
	font-size: 1rem;
	padding: 5px;
	padding-left: 1rem;
	margin-right: 1rem;
	width: 100%;
}

.searchToggler {
	cursor: pointer;
	padding: 1em;
	margin: -1em;
}

.hidden {
	display: none;
}

/* End search pane block */
/*     */
.text {
	margin: 1em auto;
	font-size: 1.25rem;
}

.card_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.beispil {}

.verbMitPrep {}

.prepWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;

}

.prepWrapper>a {

	/*
	 *cursor: pointer;
	 *padding: 1em;
	 *margin: .3em;
	 *box-shadow: 0px 5px 5px -3px hsla(206, 64%, 27%, 0.5);
	 *border-radius: 5px;
	 */
}

.prepositions {}

.prep {

	font-variant: normal;
	padding: 1em;
	margin: .3em;
	width: auto;
	border-radius: 5px;
	text-align: center;
	border: none;
	box-shadow: 0px 5px 5px -3px hsla(206, 64%, 27%, 0.5)
}

.translate {

	/*
	 *font-size: 0.8rem;
	 *margin-bottom: 2.2em;
	 */
}

/*         */
/* Start buttons block */
.buttons_wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.buttons_wrapper_verbsMit {
	justify-content: center;
}

button {
	all: unset;
	color: hsla(206, 64%, 27%, 1.0);
	width: 30%;
	padding: 10px 30px;
	font-size: 1.25rem;
	cursor: pointer;
	border: 1px solid;
	border-radius: 5px;
	text-align: center;
	font-variant: small-caps;
	box-shadow: 0px 10px 15px -3px hsla(206, 64%, 27%, 0.5);
}

/* End buttons block */
