:root {
	/*--mainDarkColor: hsl(206, 64%, 27%);*/
	/*--mainWhiteColor: hsl(206, 64%, 92%);*/
	/*--mainDarkColor: hsl(234, 30%, 21%);*/
	/*--mainWhiteColor: hsl(230, 89%, 74%);*/

	/*Light theme*/
	--day-background-color: hsl(206, 64%, 92%);
	--day-text-color: hsl(206, 64%, 27%);

	/*Dark theme*/
	--night-background-color: hsl(234, 30%, 21%);
	--night-text-color: hsl(230, 89%, 74%);
}

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
}

body {
	height: 80vh;
	min-height: 550px;
}


a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	font-size: inherit;
	font-style: normal;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.page_wrapper {
	width: 95%;
	box-shadow: 0 16px 64px 0 hsla(0, 0%, 0%, 0.15);
	border-radius: 25px;
	padding: 0 5% 45px 5%;
	margin: 10% auto;
	max-width: 500px;
}

.nav_pane {
	display: flex;
	justify-content: space-between;
	color: var(--day-text-color);
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	border-bottom: 1px solid var(--day-text-color);
}

.nav_pane .nav_button {
	text-decoration: underline;
}

.nav_pane .inactive {
	text-decoration: none;
}


.content_wrapper {
	color: var(--day-text-color);
	display: flex;
	margin-top: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}


/* Start words block */
.words_wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	line-height: 3;
	width: 100%;
	padding: 2%;
	margin-bottom: 50px;
}

.line_wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

}

.word {
	font-size: 1.25rem;
}

.word_hint {
	font-variant: normal;
	font-size: 0.875rem;
}

.hidden_word {
	background-color: hsl(60, 100%, 50%);
	color: transparent;
	border-radius: 6px;
}

.hidden_word_irregular {
	color: transparent;
}

.pageSwitcher {
	cursor: pointer;
	padding: 1em;
	margin: -1em;
}

.text {
	margin: 1em auto;
	font-size: 1.25rem;
}

.card_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.prepWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;

}

.prep {

	font-variant: normal;
	padding: 1em;
	margin: .3em;
	width: auto;
	border-radius: 5px;
	text-align: center;
	border: none;
	box-shadow: 0px 5px 5px -3px hsla(206, 64%, 27%, 0.5);
}

.wrong_answer {
	background-color: hsla(0, 100%, 50%, 0.75);
	/*animation: errorAnim 0.1s 1;*/
}

.correct_answer {
	background-color: hsla(120, 100%, 50%, 0.75);
}

/* Start buttons block */
.buttons_wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.buttons_wrapper_verbsMit {
	justify-content: center;
}

button {
	background: none;
	/*background-color: #4d578e;*/
	border: none;
	width: 49%;
	outline: none;
	color: var(--day-text-color);
	padding: 10px 30px;
	font-size: 1.25rem;
	font-family: inherit;
	font-variant: small-caps;
	cursor: pointer;
	border: 1px solid;
	border-radius: 25px;
	text-align: center;
	box-shadow: 0px 10px 15px -3px hsla(206, 64%, 27%, 0.5);
}

@media (prefers-color-scheme:dark) {
	body {
		background-color: black;
	}

	.page_wrapper {
		background-color: var(--night-background-color);

		.nav_pane {
			background-color: var(--mainDarkColor);
			color: var(--night-text-color);
			border-bottom: 1px solid var(--night-text-color);
		}


		.content_wrapper {
			color: var(--night-text-color);
			background-color: var(--night-background-color);
		}

		.hidden_word_irregular {
			color: transparent;
		}

		.prep {
			border: 1px solid var(--night-text-color);
		}

		button {
			/*color: var(--mainWhiteColor);*/
			color: white;
			box-shadow: none;
		}
	}
